.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#header-container {
  padding-top: 120px;
  padding-bottom: 60px;
  max-width: 100%;
  background-color: cornflowerblue;
}

#scoreboard {
  color: white;
}

#card-container {
  margin-top: 120px;
}

.card {
  width: 200px;
  background-color: yellow;
}

#logo {
  font-family: 'Verdana', sans-serif;
}

.instructions, #scoreboard {
  font-family: 'Trebuchet MS', sans-serif;
}

img {
  width: 25%;
  border: solid 2px black;
  border-radius: 45px;
  background-color: red;
}