.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

#header-container {
  padding-top: 120px;
  padding-bottom: 60px;
  max-width: 100%;
  background-color: cornflowerblue;
}

.navbar {
  background-color: red;
  border-bottom-color: solid black 2px;
}

#scoreboard {
  color: black;
}

#card-container {
  margin-top: 120px;
}

.card {
  width: 200px;
}

#logo {
  font-family: 'Verdana', sans-serif;
}

.subtitle, #scoreboard {
  font-family: 'Trebuchet MS', sans-serif;
}

img {
  width: 25%;
  border: solid 2px rgba(179, 179, 179, 0.938);
}